/* header*/
.ShopHeader{
display: flex;
width: 100%;
}
.HeaderMain{
  padding-top: 1%;
  color:black;
  text-decoration: none;
}
.HeaderItem1,.HeaderItem2{
  padding-top: 1%;
  padding-left: 5%;
  color:black;
  text-decoration: none;
}
.HeaderItem3{
  padding-top: 1%;
  padding-left: 60%;
  color:black;
  text-decoration: none;
}
.HeaderLogin{
  margin-top: 1%;
  margin-left: auto;
  margin-right: 4%;
  text-decoration: none;
  color: black;
}
/* home              */
.MainText{
  margin-left: 35%;
  margin-top: 10%;
}
/*   login  */
.Login{
  margin-left: 40%;
  margin-top: 8%;
  display:grid;
  width:20%
}
.LoginText{
font-size: 30px;
margin-left: 30%;
}
.LoginIdAll{
  display: flex;
}
.LoginPwdAll{
  display: flex;
}
.LoginId{
 margin-top: 10%;
 height: 60%;
 margin-left: 7%;
}
.LoginPwd{
margin-top: 10%;
height: 60%;
margin-left: 1%;
}
.LoginIdText{
  margin-top: 12%;
  margin-left: 15%;
}
.LoginPwdText{
  margin-top: 12%;
}
.LoginButton{
  display: flex;
  border: 1px solid black;
  margin-top: 14%;
  height: 50%;
  border-radius: 10px;
  background-color: black;
  color:white;
  justify-content: center; 
  align-items: center;
 
}
.LoginJoin{
  margin-left: 30%;
  margin-top: 7%;
}
/*    join     */
.JoinText{
  margin-left: 43%;
  margin-top:5%;
  font-size: 1.5em;
}
.JoinButton{
  margin-left: 37%;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 2%;
  width: 20%;
  background-color: black;
  color:white;
  justify-content: center; 
  align-items: center;
  display: flex;
  height: 30px;
}
.IdAll,.PwdAll ,.NameAll,.TelAll{
  margin-left: 40%;
  margin-top:2%;
}
.IdInput,.PwdInput,.NameInput,.TelInput{
  height: 25px;
  margin-top: 1%;
}
/*    list       */
.ListAll{
 margin-left: 10%;
 margin-top: 5%;

}
.List{
  display: flex;
}
.ListText{
  font-size: 2em;
  margin-left: 10%;
  margin-top: 3%;

}
.ListPrice{
 border:1px solid black;
 width: 8%; 
 text-align: center;
}
.ListOrigin{
  border:1px solid black;
  width: 8%;
  text-align: center;
}
.ListName{
  border:1px solid black;
  width: 6%;
  text-align: center;

}
.ListBasket{
  border:1px solid black;
  width: 10%;
  text-align: center;
  color:blue;
}
/*    basket     */
.BasketText{
  padding-left: 7%;
  padding-top: 3%;
  font-size: 1.5em;
}