/* header*/
.Header{
}
.ShopHeader{
display: flex;
width: 100%;
height:50px;
}
.MainHeader{
  display: flex;
  margin-top: 3%;
  margin-left: 15%;
  align-items: center;
}
.ShopText{
  color:blue;
  text-decoration: none;
  font-size: 20px;
  font-weight: 1000;
}
.Search{
 margin-left: 5%;
 width: 40%;
}
.HeaderMain{
  padding-top: 1%;
  color:black;
  text-decoration: none;
}
.FaBars{
  margin-left: 2%;
}
.HeaderCategory{
  margin-left: 0.5%;
  color:rgb(14, 128, 173) ;
  text-decoration: none;
  font-size: 14px;
  position: relative;
}
.HeaderCategory:hover{
  color:blue;
}
.HeaderItem{
  margin-top: 2%;
  margin-left: 50%;
  color:black;
  text-decoration: none;
  font-size: 14px;
}
.HeaderBox{
  display: flex;
  padding-top: 2% ;
  width: 20%;
  margin-left: 3%;
}
.HeaderMyPage{
  font-size: 14px;
  text-decoration: none;
  color: black;
}
.HeaderLogout{
  font-size: 14px;
  padding-left: 10%;
}
.HeaderNote{
  font-size: 14px;
  margin-top: 2%;
  margin-left: 16%;
  text-decoration: none;
  color: black;
}
.HeaderLogin{
  font-size: 14px;
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 4%;
  text-decoration: none;
  color: black;
}
.DropdownItem{
color:red;
}
.DropdownMenu{
  position: absolute;
  margin-left: 50%;
}
/* home              */
.MainBox{
  margin-top: 3%;
}
.MainNoteText{
  color:white;
  text-decoration: none;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10em;
  font-size: 25px;
  font-weight: 900;
  background-color: black;
}
.MainText{
  margin-left: 35%;
  margin-top: 7%;
}
/*   login  */
.Login{
  margin-left: 35%;
  margin-top: 5%;
  display:grid;
  width:20%
}
.LoginText{
font-size: 30px;
margin-left: 30%;
}
.LoginIdAll{
  display: flex;
}
.LoginPwdAll{
  display: flex;
}
.LoginId{
 margin-top: 10%;
 height: 60%;
 margin-left: 7%;
}
.LoginPwd{
margin-top: 10%;
height: 60%;
margin-left: 1%;
}
.LoginIdText{
  margin-top: 12%;
  margin-left: 15%;
}
.LoginPwdText{
  margin-top: 12%;
  margin-left: 2%;
}
.LoginButton{
  display: flex;
  border: 1px solid black;
  margin-top: 14%;
  height: 50%;
  border-radius: 10px;
  background-color: black;
  color:white;
  justify-content: center; 
  align-items: center;
 
}
.LoginJoin{
  margin-left: 30%;
  margin-top: 7%;
}
/*    join     */
.JoinText{
  margin-left: 43%;
  margin-top:5%;
  font-size: 1.5em;
}
.JoinButton{
  margin-left: 37%;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 2%;
  width: 20%;
  background-color: black;
  color:white;
  justify-content: center; 
  align-items: center;
  display: flex;
  height: 30px;
}
.IdAll,.PwdAll ,.NameAll,.TelAll{
  margin-left: 40%;
  margin-top:2%;
}
.IdInput,.PwdInput,.NameInput,.TelInput{
  height: 25px;
  margin-top: 1%;
}
/*    list       */
.ListAll{
 margin-left: 20%;
 margin-top: 5%;
display: flex;
}
.List{
  width: 10%;
  height: 10%;
  margin-right: 15%;
}
.ListText{
  font-size: 2em;
  margin-left: 20%;
  margin-top: 3%;

}
.ListPrice{
 width: 100%; 
 margin-top: 20%;
 font-weight:700;

}
.ListName{
  width: 100%;
  margin-top: 10%;
  text-align: center;
}
.ListBasket{
  width: 100%;
  margin-top: 20%;
  color:blue;
  text-align: center;
  background-color: orange;
}
/*    basket     */
.BasketText{
  padding-left: 16%;
  padding-top: 3%;
  font-size: 1.5em;
}
.BasketAll{
 margin-top: 5%;
}
.BasketItemAll{
 border: 1px solid black;
 width: 50%;
 display: flex;
 height: 8em;
}
.BasketRight1{  
  
  border-left: 1px solid black;
  width: 100%;
}

.BasketName{
  border-bottom: 1px solid black;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3em;
}

.BasketCount{
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2em;
}
.BasketRight2{
  display: flex;
  height: 3em;
}
.BasketAllPrice{
  border-right: 1px solid black;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.BasketButton{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  background-color: red;
  color: white;
}
/* item */
.ItemAll{
  margin-top: 5%;
  display: flex;
  margin-left:15% ;
}
.ItemImage{
  
}
.ItemContent{
  margin-left: 10%;
}
.ItemName{
 margin-top: -10%;
 font-size: 50px;
 border-bottom: 1px solid rgba(0, 0, 0, 0.2);
 border-top:  1px solid rgba(0, 0, 0, 0.2);

}
.ItemPrice{
 margin-top: 25%;
 font-size: 35px;
}
.ItemOrigin{
 font-size: 25px;
 margin-top: 30%;
 border-bottom: 1px solid rgba(0, 0, 0, 0.2); 
}
.ItemButton{
  border: 1px solid black;
  border-radius: 10%;
  width: 40%;
  height: 10%;
  margin-top: 10%;
  margin-left: 60%;
  justify-content: center; 
  align-items: center;
  display: flex;
  color:white;
  background-color: red;
}
/* notelist */
.NoteListAll{
 margin-left: 15%;
 margin-top: 3%;
}
.NoteListText{
font-size: 20px;
font-weight: 600;
}
.NoteCategoryAll{
  margin-top: 2%;
  display: flex;
  border: 1px solid black;
  width: 70%;
  height: 3em;
}
.NoteCategoryNumber{
  border-right: 1px solid black;
  width: 5%;
  display: flex;
  align-items: center; 
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.389);
}
.NoteCategoryTitle{
  border-right: 1px solid black;
  width: 80%;
  display: flex;
  align-items: center; 
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.389);
}
.NoteCategoryName{
  display: flex;
  align-items: center; 
  justify-content: center; 
  width: 15%;
  background-color: rgba(128, 128, 128, 0.389);
}
.NoteListKey{
display: flex;
border-left: 1px solid black;
border-bottom: 1px solid black;
border-right: 1px solid black;
width: 70%;
height: 3em;
}
.NoteListNumber{
  border-right: 1px solid black;
  width: 5%;
  align-items: center; 
  justify-content: center; 
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.688);
  color:white;
  display: flex;
}
.NoteListTitle{
  border-right: 1px solid black;
  width: 80%;
  display: flex;
  align-items: center; 
  text-indent: 10px;
  color: black;
  text-decoration: none;
}
.NoteListName{
  display: flex;
  align-items: center; 
  justify-content: center; 
  width: 15%;
}
/* note */
.NoteAll{
 border: 1px solid black;
 width: 40%;
 margin-left: 25%;
 margin-top: 3%;
 height: 30em;
}
.NoteTitle{
 border-bottom: 1px solid black;
 height: 4em;
 display: flex;
 align-items: center;
 justify-content:center ;
 font-size: 20px;
 font-weight: 900;

}
.NoteDN{
  display: flex;
  border-bottom: 1px solid black;
  height: 2.5em;
}
.NoteDate{
 display: flex;
 align-items: center;
 justify-content: center;
 border-right: 1px solid black;
 width: 50%;
 color: white;
 background-color: rgba(255, 0, 0, 0.618);
 
}
.NoteName{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  background-color: rgba(255, 0, 0, 0.618);
  color: white;
}
.NoteContent{
 padding-top: 4%;
 padding-left: 4%;
 padding-right: 4%;
 background-color: black;
 color: white;  
 height: 100%;
}